@model IEnumerable<KPCOS.Data.Models.Feedback>

@{
    ViewData["Title"] = "Feedbacks";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<!-- Search Form with 2 input fields -->
<form method="get" class="d-flex flex-row my-3 gap-2">
    <input type="text" name="content" class="form-control" placeholder="Search by Content" value="@ViewContext.HttpContext.Request.Query["content"]" />
    <input type="number" name="rating" class="form-control" placeholder="Search by Rating" value="@ViewContext.HttpContext.Request.Query["rating"]" />
    <button type="submit" class="btn btn-outline-secondary">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Content)</th>
            <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th>@Html.DisplayNameFor(model => model.Customer)</th>
            <th>@Html.DisplayNameFor(model => model.Project)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Content)</td>
                <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
                <td>@Html.DisplayFor(modelItem => item.ProjectId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
