@model IEnumerable<KPCOS.Data.Models.ServiceExecution>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-10">
        <h1 class="display-8">Service Bookings</h1>
    </div>
    <div class="col-md-2 text-end">
        <a asp-action="Create">Create New</a>
    </div>
</div>
<div class="row form">
    <form method="get" class="d-flex flex-row my-3 gap-2">
        <div class="form-group col-md-4">
            <label>Service Booking</label>
            <select name="ServiceBookingId" class="form-control" asp-items="ViewBag.ServiceBookingId" value="@ViewContext.HttpContext.Request.Query["ServiceBookingId"]"><option value="">None</option></select>
        </div>
        <div class="form-group col-md-4">
            <label>Employee</label>
            <select name="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId" value="@ViewContext.HttpContext.Request.Query["EmployeeId"]"><option value="">None</option></select>
        </div>
        <div class="form-group col-md-4">
            <label>Status</label>
            <select name="Status" value="@ViewContext.HttpContext.Request.Query["Status"]" class="form-control">
                <option value="">None</option>
                <option value="Done">Done</option>
                <option value="On-Going">On-Going</option>
                <option value="Canceled">Canceled</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-primary">Search</button>
        <a asp-action="Index"><div class="btn btn-outline-secondary">Reset</div></a>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceBooking.ServiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.User.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExecutionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.Status == "On-Going")
                    {
                        <span>|</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>



@* <div class="row">
    <div class="col-md-10">
        <h1 class="display-8">Service Executions</h1>
    </div>
    <div class="col-md-2 text-end">
    <button type="button" class="btn btn-success" onclick="add();">
    Add
    </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">Service Booking</th>
                    <th class="card-title text-center">Employee</th>
                    <th class="card-title text-center">Execution Date</th>
                    <th class="card-title text-center">Result</th>
                    <th class="card-title text-center">Status</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblExecutions">
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="executionModal" tabindex="-1" aria-labelledby="executionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frmServiceExecution", id = "frmServiceExecution" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="executionModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label for="1">Service Booking</label>
                            <select id="serviceBookingId" name="serviceBookingId" class="form-select fslServiceBookingId"></select>
                        </div>
                        <div class="col-md-4">
                            <label for="1">Employee</label>
                            <select id="employeeId" name="employeeId" class="form-select fslEmloyeeId"></select>
                        </div>
                        <div class="col-md-4">
                            <label for="1">Execution Date</label>
                            <input type="datetime-local" id="executionDate" name="executionDate" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label for="1">Result</label>
                            <input type="text" id="result" name="result" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label for="1">Status</label>
                            <select id="status" name="Status" class="form-select">
                                <option value="Done">Done</option>
                                <option value="On-Going">On-Going</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();

            $("#btSave").click(function (event) {
                event.preventDefault();

                var id = $("#executionModal").data("id");

                $.ajax({
                    url: id ? 'https://localhost:7163/api/ServiceExecution/' + id : 'https://localhost:7163/api/ServiceExecution',
                    type: id ? "PUT" : "POST",
                    headers: {
                        'Accept': 'application/json',
                        "Content-Type": 'application/json'
                    },
                    data: JSON.stringify({
                        serviceBookingId: $('#serviceBookingId').val(),
                        employeeId: $('#employeeId').val(),
                        executionDate: $('#executionDate').val(),
                        result: $('#result').val(),
                        status: $('#status').val()
                    }),
                    success: function (result) {
                        if (result.status >= 1) {
                            $('#executionModal').modal('hide');
                            loadData();
                        }
                        alert(result.message);
                    },
                    error: function (xhr, error) {
                        alert(xhr.statusText);
                    }
                })
            })
        });

        function loadData() {

            $.ajax({
                url: 'https://localhost:7163/api/ServiceExecution',
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.serviceBooking.serviceType + '</td>';
                        html += '<td>' + item.employee.user.fullname + '</td>';
                        html += '<td>' + item.executionDate + '</td>';
                        html += '<td>' + item.result + '</td>';
                        html += '<td>' + item.status + '</td>';
                        html += '<td>' +
                                    // '<a asp-action="Edit" asp-route-id="'+ item.id +'"><button type="button" class="btn btn-warning">Edit</button></a>' +
                                    // '<a asp-action="Delete" asp-route-id="'+ item.id +'"><button type="button" class="btn btn-danger">Delete</button></a>' +
                                    '<button type="button" class="btn btn-warning" onclick="edit(`'+ item.id +'`);">Edit</button> |' +
                                    //'<button type="button" class="btn btn-danger" onclick="remove(`'+ item.id +'`);">Delete</button>' +
                                '</td >';
                        html += '</tr>'
                    });
                    $('.tblExecutions').html(html);

                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });

            $.ajax({
                url: 'https://localhost:7163/api/ServiceBooking',
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<option value="' + item.id + '">' + item.serviceType + '</option>';
                    });
                    $('.fslServiceBookingId').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
            $.ajax({
                url: 'https://localhost:7163/api/Employee',
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<option value="' + item.id + '">' + item.user.fullname + '</option>';
                    });
                    $('.fslEmloyeeId').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function add() {
            $("#executionModalLabel").html("New Execution Service");
            $('#frmServiceExecution').trigger("reset");
            $('#executionModal').modal('show');
            $('#executionModal').data("id", null);
        }

        function edit(id) {
            $("#executionModalLabel").html("Update Execution Service");
            $.ajax({
                url: 'https://localhost:7163/api/ServiceExecution/' + id,
                type: "GET",
                contentType: 'application/json',
                success: function (result) {
                    $('#serviceBookingId').val(result.data.serviceBookingId);
                    $('#employeeId').val(result.data.employeeId);
                    $('#executionDate').val(result.data.executionDate);
                    $('#result').val(result.data.result);
                    $('#status').val(result.data.status);

                    $('#executionModal').modal('show');
                    $('#executionModal').data("id", id);
                },
                error: function (xhr) {
                    alert(xhr.statusText);
                }
            });
        }

        function remove(id) {
            if (confirm("Are you sure you want to delete this execution service?")) {
                $.ajax({
                    url: 'https://localhost:7163/api/ServiceExecution/delete/' + id,
                    type: "DELETE",
                    success: function (result) {
                        loadData();
                        alert(result.message);
                    },
                    error: function (xhr) {
                        alert(xhr.statusText);
                    }
                });
            }
        }
    </script>
} *@